/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  -moz-appearance: none;
  font-size: 75%;
  background-color: transparent;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]) {
  background-color: #FDFDFD;
}

/* UNDO */
#newtab-undo-container {
  padding: 4px 3px;
  border: 0px solid transparent;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  -moz-appearance: none;
  color: rgb(17, 85, 204);
  cursor: pointer;
  margin: 0;
  -moz-margin-start: 6px;
  padding: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
  box-shadow: none;
}

.newtab-undo-button:hover {
  text-decoration: underline;
}

.newtab-undo-button:-moz-focusring {
  outline: 1px dotted;
}

.newtab-undo-button > .button-box {
  padding: 0;
}

#newtab-undo-close-button {
  -moz-appearance: none;
  padding: 0;
  -moz-margin-start: 8px;
  border: none;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
  -moz-user-focus: normal;
}

#newtab-undo-close-button:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#newtab-undo-close-button:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#newtab-undo-close-button > .toolbarbutton-text {
  display: none;
}

#newtab-undo-close-button:-moz-focusring {
  outline: 1px dotted;
}

/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.png);
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}

/* ROWS */
.newtab-row {
  margin-bottom: 22px;
}

.newtab-row:last-child {
  margin-bottom: 0;
}

/* CELLS */
.newtab-cell {
  -moz-margin-end: 20px;
  background-color: rgba(255,255,255,.2);
  border: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  border-radius: 1px;
  transition: border-color 100ms ease-out;
}

.newtab-cell:empty {
  border: 1px dashed;
  border-color: rgba(8,22,37,.15) rgba(8,22,37,.17) rgba(8,22,37,.19);
}

.newtab-cell:last-child {
  -moz-margin-end: 0;
}

.newtab-cell:hover:not(:empty):not([dragged]) {
  border-color: rgba(8,22,37,.25) rgba(8,22,37,.27) rgba(8,22,37,.3);
}

/* SITES */
.newtab-site {
  text-decoration: none;
  transition-property: top, left, opacity, box-shadow, background-color;
}

.newtab-site[dragged] {
  background-color: transparent;
}

.newtab-site[dragged] .newtab-title {
  visibility: collapse;
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TITLES */
.newtab-title {
  padding: 0 8px;
  background-color: rgba(248,249,251,.95);
  color: #1f364c;
  line-height: 24px;
}

/* CONTROLS */
.newtab-control {
  width: 24px;
  height: 24px;
  padding: 1px 2px 3px;
  border: none;
  background: transparent url(chrome://browser/skin/newtab/controls.png);
}

.newtab-control-pin {
  margin: -3px;
}

.newtab-control-pin:hover {
  background-position: -24px 0;
}

.newtab-control-pin:active {
  background-position: -48px 0;
}

.newtab-control-pin[pinned] {
  background-position: -72px 0;
}

.newtab-control-pin[pinned]:hover {
  background-position: -96px 0;
}

.newtab-control-pin[pinned]:active {
  background-position: -120px 0;
}

.newtab-control-block {
  margin: -3px;
  background-position: -144px 0;
}

.newtab-control-block:hover {
  background-position: -168px 0;
}

.newtab-control-block:active {
  background-position: -192px 0;
}
