@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.notification-inner {
  border: 0 !important;
}

notification {
  background-color: #F2F2F2;
  color: black;
}

notification[type="info"] { 
  background-color: #fae691;
}

notification[type="critical"] {
  background-color: #FF8F8F;
}

.messageText > .text-link {
  color: inherit !important;
  text-decoration: underline;
}

.messageImage {
  width: auto;
  height: auto;
  -moz-margin-start: 10px;
  -moz-margin-end: 4px;
}

/* Default icons for notifications */

notification[type="info"] .messageImage,
.messageImage[type="info"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

notification[type="warning"] .messageImage,
.messageImage[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

notification[type="critical"] .messageImage,
.messageImage[type="critical"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.messageCloseButton {
  -moz-appearance: none;
  padding: 0px;
  -moz-margin-start: 7px;
  -moz-margin-end: 7px;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  border-image: none !important;
}

popupnotification .messageCloseButton {
  margin-top: -4px !important;
  -moz-margin-end: -5px !important;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-learnmore-link {
  margin-top: 1em !important;
}

.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-button-container {
  margin-top: 17px;
}

/*
XXX: apply styles to all themes until bug 509642 is fixed
@media (-moz-windows-default-theme) {
*/

.popup-notification-menubutton[type="menu-button"] {
  margin: 0;
  padding: 0;
}

.popup-notification-menubutton > .button-menubutton-button {
  -moz-appearance: none;
  padding: 1px 5px 1px 5px;
  margin: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.popup-notification-menubutton > .button-menubutton-dropmarker {
  -moz-appearance: none;
  padding: 1px 5px 2px 5px;
  margin: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.popup-notification-menubutton {
  border: 1px solid;
  border-color: #B8BDCC;
}

.popup-notification-menubutton:hover {
  border-color: #2374B2;
}

.popup-notification-menubutton:hover:active,
.popup-notification-menubutton[open="true"],
.popup-notification-menubutton[checked="true"] {
  border-color: #2374B2;
}

.popup-notification-menubutton > .button-menubutton-dropmarker {
  list-style-image: url("chrome://global/skin/icons/dropdown.png") !important;
  -moz-image-region: rect(0, 7px, 9px, 0) !important;
}

.popup-notification-menubutton:-moz-focusring > .button-menubutton-dropmarker {
  outline: 1px dotted ThreeDDarkShadow;
  outline-offset: -3px;
}

.popup-notification-closebutton {
  -moz-margin-end: -12px;
  margin-top: -6px;
}
