/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Tab Modal Prompt boxes */
tabmodalprompt {
  background-color: rgba(0, 0, 0, 0.3);
  font-family: sans-serif; /* use content font not system UI font */
}

.mainContainer {
  color: -moz-fieldText;
  background-color: -moz-field;
  border-radius: 3px;
box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.topContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 12px 20px 15px;
  background-color: rgb(247, 247, 247);
  border-top: 1px solid rgb(222, 222, 222);
}
